main {
  --gap: 20px;
  --canvas-width: 1024px;
  --radius: 2px;
  --hover-shadow: 0px 0px 8px 2px #fc9;

  max-width: calc(var(--canvas-width) + calc(var(--gap) * 2));
  padding: var(--gap);
  margin: 20px auto 0;

  & .tiles {
    width: 224px;
    height: 96px;
    position: relative;

    & #cave_tiles {
      width: 100%;
      height: 100%;
    }

    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-image: linear-gradient(#000000 0.5px, transparent 0.5px, transparent calc(100% - 0.5px), #000000 calc(100% - 0.5px)), linear-gradient(90deg, #000000 0.5px, transparent 0.5px, transparent calc(100% - 0.5px), #000000 calc(100% - 0.5px));
      background-size: 32px 32px;
    }
  }


  & .wfc {
    display: block;
    max-width: 100%;
    margin-bottom: calc(var(--gap) * 2);
  }

  & label[for="show-grid"] {
    display: inline-flex;
    gap: 8px;
    align-items: center;
    font-size: 14px;
    cursor: pointer;
    transition: color 300ms;

    & input {
      opacity: 0;
      display: block;
      height: 0;
      width: 0;
      position: absolute;
      overflow: hidden;
    }

    & .checkbox {
      display: inline-block;
      border: 1px solid #d6d6d6;
      background: #000;
      width: 20px;
      height: 20px;
      position: relative;
      border-radius: var(--radius);
      outline: 2px solid transparent;
      outline-offset: -1px;
      transition: outline 300ms, box-shadow 300ms;
    }

    & input:checked ~ .checkbox:after {
      content: '\2714';
      position: absolute;
      color: #fff;
      width: 100%;
      height: 100%;
      inset: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 20px;
      padding-left: 2px;
      padding-bottom: 3px;
    }

    &:hover,
    &:focus-within {
      color: #fc9;

      & .checkbox {
        outline: 2px solid #fc9;
      }
    }

    &:hover .checkbox {
      box-shadow: var(--hover-shadow);
    }
  }

  .form {
    max-width: 600px;
    margin: 0 auto;
  }

  .input {
    display: grid;
    margin: var(--gap) 0;
    gap: 8px;
    grid-template-rows: auto auto;
    transition: color 300ms;

    & label {
      font-size: 14px;
      pointer-events: none;
    }

    & select,
    & input {
      font-size: 16px;
      padding: 8px 16px;
      color: #fff;
      background: #000;
      min-height: 40px;
      border: 1px solid #d6d6d6;
      font-family: var(--mono);
      cursor: pointer;
      border-radius: var(--radius);
      outline-offset: -1px;
      outline: 2px solid transparent;
      transition: outline 300ms, box-shadow 300ms;

      &:hover {
        box-shadow: var(--hover-shadow);
      }
    }

    &:has(input:hover),
    &:has(select:hover),
    &:has(input:focus-visible),
    &:has(select:focus-visible) {
      color: #fc9;

      & input,
      & select {
        outline: 2px solid #fc9;
      }
    }
  }

  & .buttons {
    margin-top: calc(2 * var(--gap));
    display: grid;
    gap: var(--gap);
    grid-template-rows: 1fr 1fr;

    @media (min-width: 500px) {
      grid-template-rows: auto;
      grid-template-columns: 1fr 1fr;
    }
  }

  & button {
    font-family: var(--mono);
    padding: 8px 16px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: var(--radius);
    overflow: hidden;
    font-size: 16px;
    background: #fc9;
    min-width: 140px;
    height: 40px;
    cursor: pointer;
    transition: background 300ms, opacity 300ms 600ms;
    position: relative;
    color: #333;

    &[disabled] {
      opacity: 0.5;
      transition-delay: 0ms;
      cursor: not-allowed;
    }

    &::after {
      content: '';
      position: absolute;
      background: #f96;
      width: 100%;
      height: 4px;
      bottom: 0;
      transition: transform 300ms, background 300ms;
      transform: scaleX(0);
    }

    &:hover:not([disabled]) {
      background: rgb(255, 214, 174);

      &::after {
        transform: scaleX(1);
      }
    }

    &:active:not([disabled]) {
      background: #f96;
    }

    &.secondary {
      background: #000;
      border: 1px solid #fc9;
      color: #fc9;
      transition: color 300ms, border-color 300ms, opacity 300ms 600ms, box-shadow 300ms;

      &[disabled] {
        transition-delay: 0;
      }

      &::after {
        height: 3px;
        background: rgb(255, 214, 174);
      }

      &:hover:not([disabled]) {
        color: rgb(255, 214, 174);
        background: #000;
        border-color: rgb(255, 214, 174);
        box-shadow: var(--hover-shadow);
      }

      &:active:not([disabled]) {
        color: #f96;
        border-color: #f96;
        background: #000;
        
        &::after {
          background: #f96;
        }
      }
    }
  }
}
