main {
  --gap: 20px;
  --canvas-width: 1024px;

  max-width: calc(var(--canvas-width) + calc(var(--gap) * 2));
  padding: var(--gap);
  margin: min(10vw, 80px) auto 0;

  & .tileset {
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap);

    & .tiles {
      --columns: 5;

      display: grid;
      gap: 1px;
      grid-template-columns: repeat(var(--columns), 32px);
      grid-template-rows: repeat(3, 1fr);
    }
  }
}

.wfc {
  margin: var(--gap) 0;
  display: block;
  max-width: 100%;
}